<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="processMonitorGroup">
      <section name="settings" type="Wit.ProcessMonitor.Config.MonitorSettingSection,iVelocity" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <processMonitorGroup>
    <settings>
      <apps>
        <add name="Illustrator" label="Adobe Illustrator" icon="args">
        </add>
        <add name="DXP" label="Altium Designer" icon="args">
        </add>
        <add name="acad" label="AutoCAD" icon="args">
        </add>
        <add name="xtop" label="CREO" icon="args">
        </add>
        <add name="CNEXT" label="CATIA" icon="args">
        </add>
        <add name="SLDWORKS" label="Solidworks" icon="args">
        </add>
        <add name="ugraf" label="NX" icon="args">
        </add>
        <add name="Dreamweaver" label="Adobe Dreamweaver" icon="args">
        </add>
        <add name="Photoshop" label="Adobe photoshop" icon="args">
        </add>
        <add name="Inventor Fusion" label="Inventor Fusion" icon="args">
        </add>
      </apps>
      <checker interval="10" errorRestart="true" maxErrorCount="10">
      </checker>
    </settings>
  </processMonitorGroup>
  <appSettings>
    <add key="minimizeToIcontray" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>